:root {
    --tw-lch-slate-50: 0.984 0.003 247.858;
    --tw-lch-slate-100: 0.968 0.007 247.896;
    --tw-lch-slate-200: 0.929 0.013 255.508;
    --tw-lch-slate-300: 0.869 0.022 252.894;
    --tw-lch-slate-400: 0.704 0.04 256.788;
    --tw-lch-slate-500: 0.554 0.046 257.417;
    --tw-lch-slate-600: 0.446 0.043 257.281;
    --tw-lch-slate-700: 0.372 0.044 257.287;
    --tw-lch-slate-800: 0.279 0.041 260.031;
    --tw-lch-slate-900: 0.208 0.042 265.755;
    --tw-lch-slate-950: 0.129 0.042 264.695;
    --tw-lch-zinc-50: 0.985 0.002 247;
    --tw-lch-zinc-100: 0.97 0.005 247;
    --tw-lch-zinc-200: 0.922 0.007 247;
    --tw-lch-zinc-300: 0.87 0.01 247;
    --tw-lch-zinc-400: 0.705 0.015 247;
    --tw-lch-zinc-500: 0.552 0.016 247;
    --tw-lch-zinc-600: 0.442 0.017 247;
    --tw-lch-zinc-700: 0.37 0.013 247;
    --tw-lch-zinc-800: 0.274 0.006 247;
    --tw-lch-zinc-900: 0.21 0.006 247;
    --tw-lch-zinc-950: 0.141 0.005 247;
    --tw-lch-neutral-50: 0.985 0 0;
    --tw-lch-neutral-100: 0.97 0 0;
    --tw-lch-neutral-200: 0.922 0 0;
    --tw-lch-neutral-300: 0.87 0 0;
    --tw-lch-neutral-400: 0.705 0 0;
    --tw-lch-neutral-500: 0.552 0 0;
    --tw-lch-neutral-600: 0.442 0 0;
    --tw-lch-neutral-700: 0.37 0 0;
    --tw-lch-neutral-800: 0.274 0 0;
    --tw-lch-neutral-900: 0.21 0 0;
    --tw-lch-neutral-950: 0.141 0 0;
    --tw-lch-stone-50: 0.985 0.001 106;
    --tw-lch-stone-100: 0.97 0.001 106;
    --tw-lch-stone-200: 0.923 0.003 48;
    --tw-lch-stone-300: 0.869 0.005 56;
    --tw-lch-stone-400: 0.709 0.01 56;
    --tw-lch-stone-500: 0.553 0.013 58;
    --tw-lch-stone-600: 0.444 0.011 73;
    --tw-lch-stone-700: 0.374 0.01 67;
    --tw-lch-stone-800: 0.268 0.007 34;
    --tw-lch-stone-900: 0.216 0.006 56;
    --tw-lch-stone-950: 0.147 0.004 49;
    --tw-lch-gray-50: 0.985 0.002 247;
    --tw-lch-gray-100: 0.967 0.003 247;
    --tw-lch-gray-200: 0.928 0.006 247;
    --tw-lch-gray-300: 0.872 0.01 258;
    --tw-lch-gray-400: 0.707 0.022 261;
    --tw-lch-gray-500: 0.551 0.027 264;
    --tw-lch-gray-600: 0.446 0.03 257;
    --tw-lch-gray-700: 0.373 0.034 259;
    --tw-lch-gray-800: 0.278 0.033 256;
    --tw-lch-gray-900: 0.21 0.034 264;
    --tw-lch-gray-950: 0.13 0.028 261;
    --tw-lch-red-50: 0.971 0.013 17;
    --tw-lch-red-100: 0.936 0.032 17;
    --tw-lch-red-200: 0.885 0.062 18;
    --tw-lch-red-300: 0.808 0.114 19;
    --tw-lch-red-400: 0.704 0.191 22;
    --tw-lch-red-500: 0.637 0.237 25;
    --tw-lch-red-600: 0.577 0.245 27;
    --tw-lch-red-700: 0.505 0.213 27;
    --tw-lch-red-800: 0.444 0.177 26;
    --tw-lch-red-900: 0.396 0.141 25;
    --tw-lch-red-950: 0.258 0.092 26;
    --tw-lch-orange-50: 0.98 0.016 73.684;
    --tw-lch-orange-100: 0.954 0.038 75.164;
    --tw-lch-orange-200: 0.901 0.076 70.697;
    --tw-lch-orange-300: 0.837 0.128 66.29;
    --tw-lch-orange-400: 0.75 0.183 55.934;
    --tw-lch-orange-500: 0.705 0.213 47.604;
    --tw-lch-orange-600: 0.646 0.222 41.116;
    --tw-lch-orange-700: 0.553 0.195 38.402;
    --tw-lch-orange-800: 0.47 0.157 37.304;
    --tw-lch-orange-900: 0.408 0.123 38.172;
    --tw-lch-orange-950: 0.266 0.079 36.259;
    --tw-lch-amber-50: 0.987 0.022 95.277;
    --tw-lch-amber-100: 0.962 0.059 95.617;
    --tw-lch-amber-200: 0.924 0.12 95.746;
    --tw-lch-amber-300: 0.879 0.169 91.605;
    --tw-lch-amber-400: 0.828 0.189 84.429;
    --tw-lch-amber-500: 0.769 0.188 70.08;
    --tw-lch-amber-600: 0.666 0.179 58.318;
    --tw-lch-amber-700: 0.555 0.163 48.998;
    --tw-lch-amber-800: 0.473 0.137 46.201;
    --tw-lch-amber-900: 0.414 0.112 45.904;
    --tw-lch-amber-950: 0.279 0.077 45.635;
    --tw-lch-yellow-50: 0.987 0.026 102.212;
    --tw-lch-yellow-100: 0.973 0.071 103.193;
    --tw-lch-yellow-200: 0.945 0.129 101.54;
    --tw-lch-yellow-300: 0.905 0.182 98.111;
    --tw-lch-yellow-400: 0.852 0.199 91.936;
    --tw-lch-yellow-500: 0.795 0.184 86.047;
    --tw-lch-yellow-600: 0.681 0.162 75.834;
    --tw-lch-yellow-700: 0.554 0.135 66.442;
    --tw-lch-yellow-800: 0.476 0.114 61.907;
    --tw-lch-yellow-900: 0.421 0.095 57.708;
    --tw-lch-yellow-950: 0.286 0.066 53.813;
    --tw-lch-lime-50: 0.986 0.031 120.757;
    --tw-lch-lime-100: 0.967 0.067 122.328;
    --tw-lch-lime-200: 0.938 0.127 124.321;
    --tw-lch-lime-300: 0.897 0.196 126.665;
    --tw-lch-lime-400: 0.841 0.238 128.85;
    --tw-lch-lime-500: 0.768 0.233 130.85;
    --tw-lch-lime-600: 0.648 0.2 131.684;
    --tw-lch-lime-700: 0.532 0.157 131.589;
    --tw-lch-lime-800: 0.453 0.124 130.933;
    --tw-lch-lime-900: 0.405 0.101 131.063;
    --tw-lch-lime-950: 0.274 0.072 132.109;
    --tw-lch-green-50: 0.982 0.018 155.826;
    --tw-lch-green-100: 0.962 0.044 156.743;
    --tw-lch-green-200: 0.925 0.084 155.995;
    --tw-lch-green-300: 0.871 0.15 154.449;
    --tw-lch-green-400: 0.792 0.209 151.711;
    --tw-lch-green-500: 0.723 0.219 149.579;
    --tw-lch-green-600: 0.627 0.194 149.214;
    --tw-lch-green-700: 0.527 0.154 150.069;
    --tw-lch-green-800: 0.448 0.119 151.328;
    --tw-lch-green-900: 0.393 0.095 152.535;
    --tw-lch-green-950: 0.266 0.065 152.934;
    --tw-lch-emerald-50: 0.979 0.021 166.113;
    --tw-lch-emerald-100: 0.95 0.052 163.051;
    --tw-lch-emerald-200: 0.905 0.093 164.15;
    --tw-lch-emerald-300: 0.845 0.143 164.978;
    --tw-lch-emerald-400: 0.765 0.177 163.223;
    --tw-lch-emerald-500: 0.696 0.17 162.48;
    --tw-lch-emerald-600: 0.596 0.145 163.225;
    --tw-lch-emerald-700: 0.508 0.118 165.612;
    --tw-lch-emerald-800: 0.432 0.095 166.913;
    --tw-lch-emerald-900: 0.378 0.077 168.94;
    --tw-lch-emerald-950: 0.262 0.051 172.552;
    --tw-lch-teal-50: 0.984 0.014 180.72;
    --tw-lch-teal-100: 0.953 0.051 180.801;
    --tw-lch-teal-200: 0.91 0.096 180.426;
    --tw-lch-teal-300: 0.855 0.138 181.071;
    --tw-lch-teal-400: 0.777 0.152 181.912;
    --tw-lch-teal-500: 0.704 0.14 182.503;
    --tw-lch-teal-600: 0.6 0.118 184.704;
    --tw-lch-teal-700: 0.511 0.096 186.391;
    --tw-lch-teal-800: 0.437 0.078 188.216;
    --tw-lch-teal-900: 0.386 0.063 188.416;
    --tw-lch-teal-950: 0.277 0.046 192.524;
    --tw-lch-cyan-50: 0.984 0.019 200.873;
    --tw-lch-cyan-100: 0.956 0.045 203.388;
    --tw-lch-cyan-200: 0.917 0.08 205.041;
    --tw-lch-cyan-300: 0.865 0.127 207.078;
    --tw-lch-cyan-400: 0.789 0.154 211.53;
    --tw-lch-cyan-500: 0.715 0.143 215.221;
    --tw-lch-cyan-600: 0.609 0.126 221.723;
    --tw-lch-cyan-700: 0.52 0.105 223.128;
    --tw-lch-cyan-800: 0.45 0.085 224.283;
    --tw-lch-cyan-900: 0.398 0.07 227.392;
    --tw-lch-cyan-950: 0.302 0.056 229.695;
    --tw-lch-sky-50: 0.977 0.013 236.62;
    --tw-lch-sky-100: 0.951 0.026 236.824;
    --tw-lch-sky-200: 0.901 0.058 230.902;
    --tw-lch-sky-300: 0.828 0.111 230.318;
    --tw-lch-sky-400: 0.746 0.16 232.661;
    --tw-lch-sky-500: 0.685 0.169 237.323;
    --tw-lch-sky-600: 0.588 0.158 241.966;
    --tw-lch-sky-700: 0.5 0.134 242.749;
    --tw-lch-sky-800: 0.443 0.11 240.79;
    --tw-lch-sky-900: 0.391 0.09 240.876;
    --tw-lch-sky-950: 0.293 0.066 243.157;
    --tw-lch-blue-50: 0.97 0.014 254.604;
    --tw-lch-blue-100: 0.932 0.032 255.585;
    --tw-lch-blue-200: 0.882 0.059 254.128;
    --tw-lch-blue-300: 0.809 0.105 251.813;
    --tw-lch-blue-400: 0.707 0.165 254.624;
    --tw-lch-blue-500: 0.623 0.214 259.815;
    --tw-lch-blue-600: 0.546 0.245 262.881;
    --tw-lch-blue-700: 0.488 0.243 264.376;
    --tw-lch-blue-800: 0.424 0.199 265.638;
    --tw-lch-blue-900: 0.379 0.146 265.522;
    --tw-lch-blue-950: 0.282 0.091 267.935;
    --tw-lch-indigo-50: 0.962 0.018 272.314;
    --tw-lch-indigo-100: 0.93 0.034 272.788;
    --tw-lch-indigo-200: 0.87 0.065 274.039;
    --tw-lch-indigo-300: 0.785 0.115 274.713;
    --tw-lch-indigo-400: 0.673 0.182 276.935;
    --tw-lch-indigo-500: 0.585 0.233 277.117;
    --tw-lch-indigo-600: 0.511 0.262 276.966;
    --tw-lch-indigo-700: 0.457 0.24 277.023;
    --tw-lch-indigo-800: 0.398 0.195 277.366;
    --tw-lch-indigo-900: 0.355 0.144 277.023;
    --tw-lch-indigo-950: 0.257 0.09 276.935;
    --tw-lch-violet-50: 0.969 0.016 293.756;
    --tw-lch-violet-100: 0.943 0.029 294.588;
    --tw-lch-violet-200: 0.894 0.057 293.283;
    --tw-lch-violet-300: 0.811 0.111 293.571;
    --tw-lch-violet-400: 0.702 0.183 293.541;
    --tw-lch-violet-500: 0.606 0.25 292.717;
    --tw-lch-violet-600: 0.541 0.281 293.009;
    --tw-lch-violet-700: 0.491 0.27 292.581;
    --tw-lch-violet-800: 0.432 0.232 292.759;
    --tw-lch-violet-900: 0.38 0.189 293.745;
    --tw-lch-violet-950: 0.271 0.132 293.756;
    --tw-lch-purple-50: 0.977 0.014 308.299;
    --tw-lch-purple-100: 0.946 0.033 307.174;
    --tw-lch-purple-200: 0.902 0.063 306.703;
    --tw-lch-purple-300: 0.827 0.119 306.383;
    --tw-lch-purple-400: 0.714 0.203 305.504;
    --tw-lch-purple-500: 0.627 0.265 303.9;
    --tw-lch-purple-600: 0.558 0.288 302.321;
    --tw-lch-purple-700: 0.496 0.265 301.924;
    --tw-lch-purple-800: 0.438 0.218 303.724;
    --tw-lch-purple-900: 0.381 0.176 304.987;
    --tw-lch-purple-950: 0.291 0.149 302.717;
    --tw-lch-fuchsia-50: 0.977 0.017 320.058;
    --tw-lch-fuchsia-100: 0.952 0.037 318.852;
    --tw-lch-fuchsia-200: 0.903 0.076 319.62;
    --tw-lch-fuchsia-300: 0.833 0.145 321.434;
    --tw-lch-fuchsia-400: 0.74 0.238 322.16;
    --tw-lch-fuchsia-500: 0.667 0.295 322.15;
    --tw-lch-fuchsia-600: 0.591 0.293 322.896;
    --tw-lch-fuchsia-700: 0.518 0.253 323.949;
    --tw-lch-fuchsia-800: 0.452 0.211 324.591;
    --tw-lch-fuchsia-900: 0.401 0.17 325.612;
    --tw-lch-fuchsia-950: 0.293 0.136 325.661;
    --tw-lch-pink-50: 0.971 0.014 343.198;
    --tw-lch-pink-100: 0.948 0.028 342.258;
    --tw-lch-pink-200: 0.899 0.061 343.231;
    --tw-lch-pink-300: 0.823 0.12 346.018;
    --tw-lch-pink-400: 0.718 0.202 349.761;
    --tw-lch-pink-500: 0.656 0.241 354.308;
    --tw-lch-pink-600: 0.592 0.249 0.584;
    --tw-lch-pink-700: 0.525 0.223 3.958;
    --tw-lch-pink-800: 0.459 0.187 3.815;
    --tw-lch-pink-900: 0.408 0.153 2.432;
    --tw-lch-pink-950: 0.284 0.109 3.907;
    --tw-lch-rose-50: 0.969 0.015 12.422;
    --tw-lch-rose-100: 0.941 0.03 12.58;
    --tw-lch-rose-200: 0.892 0.058 10.001;
    --tw-lch-rose-300: 0.81 0.117 11.638;
    --tw-lch-rose-400: 0.712 0.194 13.428;
    --tw-lch-rose-500: 0.645 0.246 16.439;
    --tw-lch-rose-600: 0.586 0.253 17.585;
    --tw-lch-rose-700: 0.514 0.222 16.935;
    --tw-lch-rose-800: 0.455 0.188 13.697;
    --tw-lch-rose-900: 0.41 0.159 10.272;
    --tw-lch-rose-950: 0.271 0.105 12.094;
    --tw-lch-black: #000000;
    --tw-lch-white: #ECE6D5;

    --color-canvas-50: oklch(var(--tw-lch-blue-50));
    --color-canvas-100: oklch(var(--tw-lch-blue-100));
    --color-canvas-200: oklch(var(--tw-lch-blue-200));
    --color-canvas-300: oklch(var(--tw-lch-blue-300));
    --color-canvas-400: oklch(var(--tw-lch-blue-400));
    --color-canvas-500: oklch(var(--tw-lch-blue-500));
    --color-canvas-600: oklch(var(--tw-lch-blue-600));
    --color-canvas-700: oklch(var(--tw-lch-blue-700));
    --color-canvas-800: oklch(var(--tw-lch-blue-800));
    --color-canvas-900: oklch(var(--tw-lch-blue-900));
    --color-canvas-950: oklch(var(--tw-lch-blue-950));

    --color-canvas-lighter: var(--color-canvas-500);
    --color-canvas-light: var(--color-canvas-600);
    --color-canvas: var(--color-canvas-700);
    --color-canvas-dark: var(--color-canvas-800);
    --color-canvas-darker: var(--color-canvas-900);
    --color-canvas-soft: var(--color-canvas-400);

    --color-ink: var(--color-canvas-950);
    --color-ink-light: var(--color-canvas-50);

    --color-secondary-50: oklch(var(--tw-lch-cyan-50));
    --color-secondary-100: oklch(var(--tw-lch-cyan-100));
    --color-secondary-200: oklch(var(--tw-lch-cyan-200));
    --color-secondary-300: oklch(var(--tw-lch-cyan-300));
    --color-secondary-400: oklch(var(--tw-lch-cyan-400));
    --color-secondary-500: oklch(var(--tw-lch-cyan-500));
    --color-secondary-600: oklch(var(--tw-lch-cyan-600));
    --color-secondary-700: oklch(var(--tw-lch-cyan-700));
    --color-secondary-800: oklch(var(--tw-lch-cyan-800));
    --color-secondary-900: oklch(var(--tw-lch-cyan-900));
    --color-secondary-950: oklch(var(--tw-lch-cyan-950));

    --color-secondary: var(--color-secondary-300);
    --color-secondary-light: var(--color-secondary-50);
    --color-secondary-dark: var(--color-secondary-900);
    --color-secondary-darker: var(--color-secondary-950);
    --color-secondary-soft: var(--color-secondary-400);


    --color-accent-50: oklch(var(--tw-lch-yellow-50));
    --color-accent-100: oklch(var(--tw-lch-yellow-100));
    --color-accent-200: oklch(var(--tw-lch-yellow-200));
    --color-accent-300: oklch(var(--tw-lch-yellow-300));
    --color-accent-400: oklch(var(--tw-lch-yellow-400));
    --color-accent-500: oklch(var(--tw-lch-yellow-500));
    --color-accent-600: oklch(var(--tw-lch-yellow-600));
    --color-accent-700: oklch(var(--tw-lch-yellow-700));
    --color-accent-800: oklch(var(--tw-lch-yellow-800));
    --color-accent-900: oklch(var(--tw-lch-yellow-900));
    --color-accent-950: oklch(var(--tw-lch-yellow-950));

    --color-accent: var(--color-accent-300);
    --color-accent-light: var(--color-accent-50);
    --color-accent-dark: var(--color-accent-900);
    --color-accent-soft: var(--color-accent-400);

    --color-danger-50: oklch(var(--tw-lch-red-50));
    --color-danger-100: oklch(var(--tw-lch-red-100));
    --color-danger-200: oklch(var(--tw-lch-red-200));
    --color-danger-300: oklch(var(--tw-lch-red-300));
    --color-danger-400: oklch(var(--tw-lch-red-400));
    --color-danger-500: oklch(var(--tw-lch-red-500));
    --color-danger-600: oklch(var(--tw-lch-red-600));
    --color-danger-700: oklch(var(--tw-lch-red-700));
    --color-danger-800: oklch(var(--tw-lch-red-800));
    --color-danger-900: oklch(var(--tw-lch-red-900));
    --color-danger-950: oklch(var(--tw-lch-red-950));

    --color-danger-lighter: var(--color-danger-300);
    --color-danger-light: var(--color-danger-400);
    --color-danger: var(--color-danger-500);
    --color-danger-dark: var(--color-danger-600);
    --color-danger-darker: var(--color-danger-700);
    --color-danger-soft: var(--color-accent-400);

    --color-safe-50: oklch(var(--tw-lch-emerald-50));
    --color-safe-100: oklch(var(--tw-lch-emerald-100));
    --color-safe-200: oklch(var(--tw-lch-emerald-200));
    --color-safe-300: oklch(var(--tw-lch-emerald-300));
    --color-safe-400: oklch(var(--tw-lch-emerald-400));
    --color-safe-500: oklch(var(--tw-lch-emerald-500));
    --color-safe-600: oklch(var(--tw-lch-emerald-600));
    --color-safe-700: oklch(var(--tw-lch-emerald-700));
    --color-safe-800: oklch(var(--tw-lch-emerald-800));
    --color-safe-900: oklch(var(--tw-lch-emerald-900));
    --color-safe-950: oklch(var(--tw-lch-emerald-950));

    --color-safe: var(--color-safe-300);
    --color-safe-light: var(--color-safe-50);
    --color-safe-dark: var(--color-safe-900);
    --color-safe-soft: var(--color-accent-400);


    /* Spacing scale */
    --spacing-0: 0;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-8: 2rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;

    /* Sizing */
    --container-3xs: 10rem;
    --container-2xs: 15rem;
    --container-xs: 20rem;
    --container-sm: 25rem;
    --container-md: 30rem;
    --container-lg: 35rem;
    --container-xl: 40rem;
    --container-2xl: 45rem;
    --container-3xl 50rem;
    --container-4xl: 55rem;
    --container-5xl: 60rem;
    --container-6xl: 65rem;
    --container-7xl: 70rem;
    --container-8xl: 75rem;
    --container-9xl: 80rem;

    --inline-space: 1ch;
    --block-space: 1rem;

    --tray-size: clamp(12rem, 25dvw, 24rem);
    --main-padding: clamp(var(--inline-space), 3vw, calc(var(--inline-space) * 3));

    /* Typography */
    --font-size-xs: 0.5rem;
    --font-size-sm: 0.75rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 1.75rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 3rem;
    --font-size-4xl: 4rem;
    --font-size-5xl: 5rem;
    --font-size-6xl: 6rem;
    --font-size-7xl: 7rem;
    --font-size-8xl: 8rem;

    --font-weight-thin: 100;
    --font-weight-light: 200;
    --font-weight-semilight: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --line-height-none: 1;
    --line-height-tight: 1.25;
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.75;

    --radius: 0.5rem;

    --font-berkeley: "Berkeley Mono", ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --font-berkeley-thin: "Berkeley Mono Thin", ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --font-berkeley-black: "Berkeley Mono Black", ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --font-berkeley-uc: "Berkeley Mono UltraCondensed", ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --font-berkeley-uc-thin: "Berkeley Mono Thin UltraCondensed", ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --font-berkeley-uc-black: "Berkeley Mono ExtraBold UltraCondensed", ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --font-stack-system-ui: system-ui, sans-serif;
    --font-stack-transitional: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
    --font-stack-old-style: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
    --font-stack-humanist: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;
    --font-stack-geometric-humanist: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
    --font-stack-classical-humanist: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
    --font-stack-neo-grotesque: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
    --font-stack-monospace-slab-serif: "Nimbus Mono PS", "Courier New", monospace;
    --font-stack-monospace-code: "Dank Mono", "Operator Mono", Inconsolata, "Fira Mono", ui-monospace, "SF Mono", Monaco, "Droid Sans Mono", "Source Code Pro", "Cascadia Code", Menlo, Consolas, "DejaVu Sans Mono", monospace;
    --font-stack-industrial: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
    --font-stack-rounded-sans: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro, sans-serif;
    --font-stack-slab-serif: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif", "Sitka Small", serif;
    --font-stack-antique: Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L", "Georgia Pro", Georgia, serif;
    --font-stack-didone: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052, Sylfaen, serif;
    --font-stack-handwritten: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual, cursive;

    --font-heading: "League Gothic";
    --font-hero: "League Gothic Tall";
    --font-bodoni: "Bodoni 72 Smallcaps";
    --font-serif: var(--font-stack-transitional);
    --font-code: var(--font-berkeley);
    --font-link: var(--font-berkeley-uc);

}

body {
    background-image: url("../../static/assets/images/bg-dot-pattern-base.png");
    background-color: var(--color-canvas);
    background-repeat: repeat;
    color: var(--color-ink-light);
    text-box: trim-both cap alphabetic;
}

a {
    font-family: var(--font-link);
    transition: all;
    transition-duration: 300ms;
}
