.book-navigation {
    --bg-color: var(--color-canvas-dark);
    --book-title-color: var(--color-ink-light);
    --chapter-name-color: var(--color-ink-light);
    --link-color: var(--color-ink-light);
    --link-color-hover: var(--color-secondary);
    --link-bg-color-hover: var(--color-canvas-darker);
    --link-gap: var(--inline-space);
    --link-font-family: var(--font-berkeley-uc);
    --span-bg-color: var(--color-canvas-dark);
    --divider-color: var(--color-accent);

    --logo-max-width: 150px;
    background-color: var(--bg-color);
    padding-inline: var(--inline-space);
    padding-block: var(--block-space);
    min-height: 100dvh;
    text-transform: uppercase;
    @media(max-width: 799px) {
        position: relative;
        min-height: initial;
        display: grid;
        align-items: center;
        max-width: 100%;
        grid-template-areas:
            "top"
            "middle"
            "bottom";
    }
    /* @media (min-width: 640px) {  } */
    @media (max-width: 799px) {
        position: relative;
        min-height: initial;
        display: grid;
        align-items: center;
        max-width: 100%;
        grid-template-areas:
            "top"
            "middle"
            "bottom";
    }
    nav {
        margin-inline: auto;
        @media(max-width: 799px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    nav ul {
        @media(max-width: 799px) {
            display: none;
        }
    }
    
    .book-navigation__book-title {
        --title-font-size: var(--font-size-5xl);
        --title-line-height: var(--font-size-4xl);
        --logo-max-width: 200px;
        color: var(--book-title-color);
        font-family: var(--font-hero);
        font-size: var(--title-font-size);
        line-height: var(--title-line-height);
        padding-bottom: var(--block-space);
        text-align: center;
        text-wrap: balance;
        grid-area: top;
        display: grid;
        justify-items: center;
        flex-wrap: wrap;
        gap: var(--spacing-1);
        @media(max-width: 799px) {
            --title-font-size: var(--font-size-base);
            font-family: var(--font-heading);
            line-height: var(--font-size-base);
            padding-bottom: 0;
            display: flex;
            justify-content: center;
        }
        a {
            display: contents;
        }
        .almighty-lisp-logo-container {
            max-width: var(--logo-max-width);
            @media(max-width: 799px) {
                --logo-max-width: 50px;
            }
        }
        .the-essentials-container {
            max-width: calc(var(--logo-max-width) / 1.8);
            @media(max-width: 799px) {
                --logo-max-width: 170px;
            }
        }
    }
    .book-navigation__chapter-name-heading {
        color: var(--chapter-name-color);
        padding-inline: var(--spacing-1);
        margin-bottom: var(--spacing-1);
        font-family: var(--font-heading);
        font-size: var(--font-size-md);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        isolation: isolate;
        @media(max-width: 799px) {
            margin-bottom: 0;
            justify-content: center;
            width: 100%;
            z-index: 1;
        }
        > span {
            position: relative;
            z-index: 2;
            background-color: var(--span-bg-color);
            padding-inline: var(--inline-space);
        }

        &::after {
            content: "";
            position: absolute;
            inset-inline: 0;
            top: 50%;
            height: 2px;
            background-color: var(--divider-color);
            transform: translateY(-50%);
            z-index: 1; 
        }
    }
    .book-navigation__section-link {
        display: flex;
        gap: var(--link-gap);
        justify-content: space-between;
        align-items: start;
        padding: var(--spacing-2xs) var(--spacing-2xs);
        color: var(--link-color);
        font-family: var(--link-font-family);
        &:hover {
            color: var(--link-color-hover);
            background-color: var(--link-bg-color-hover);
        }
    }
    .book-navigation__section-link-number {
        font-size: 0.8ch;
        order: 2;
        color: var(--color-canvas-soft);
    }

    .book-navigation__section-link-text {
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-color: var(--color-canvas-soft);
        transition: all;
        transition-duration: 300ms;
        text-wrap: balance;
        &:hover {
            text-decoration-color: var(--link-color-hover);
        } 
    }
    .book-navigation__section-number {
        --book-navigation__section-number-color: var(--color-canvas-lighter);
        padding-left: var(--inline-space);
        color: var(--book-navigation__section-number-color);
        text-decoration-color: var(--book-navigation__section-number-color);
    }

    .book-navigation__previous-and-next {
        display: block;
        margin-top: var(--block-space);
        border-top: 2px solid var(--divider-color);
        @media(max-width: 799px) {
            display: flex;
            justify-content: space-between;
            border: 0;
            z-index: 2;
            margin-top: 0;
        }
    }
    .book-navigation__previous-section,
    .book-navigation__next-section {
        display: block;
        gap: var(--link-gap);
        background-color: var(--color-canvas-dark);
        justify-content: space-between;
        align-items: center;
        padding-inline: var(--spacing-2xs);
        font-family: var(--link-font-family);
        text-decoration: underline;
        &:hover {
            color: var(--link-color-hover);
            background-color: var(--link-bg-color-hover);
        }
        @media(max-width: 799px) {
            display: flex;
        }
    }
    .book-navigation__next-section {
        text-align: right;
        @media(max-width: 799px) {
            display: flex;
        }
    }
}


.toc-viewer {
    display: none;
    @media (max-width: 639px){
        position: fixed;
        bottom: var(--block-space);
        right: var(--block-space);
        font-family: var(--font-berkeley-uc);
        background-color: var(--color-canvas-light);
        padding-inline: var(--block-space);
        padding-block: var(--block-space);
    }
}
