/* 
 * Layout: sidebar 
 * Mobile: Abbreviated Header
 * Desktop: Sidebar 
*/

.sidebar-container {
    overflow-y: auto;
    position: fixed;
    inset: 0;
    width: var(--tray-size);
}
.sidebar-main {
    margin-left: var(--tray-size);
    padding-inline: var(--main-padding);
}
@media(max-width: 639px) {
    .sidebar-container {
        position: relative;
        width: 100%;
    }
    .sidebar-main {
        margin-left: 0;
    }
}
/* Scrollbar */
.sidebar-container::-webkit-scrollbar {
    height: auto;
}

.sidebar-container::-webkit-scrollbar-thumb {
    border: 1px outset var(--color-accent);
    background-color: var(--color-accent-400);
}

.sidebar-container::-webkit-scrollbar-thumb:hover {
    border: 1px outset var(--color-secondary);
    background-color: var(--color-secondary);
}

.sidebar-container::-webkit-scrollbar-track {
    background-color: var(--color-canvas-darker);
}

