/* 
 * Layout: sidebar 
 * Mobile: Abbreviated Header
 * Desktop: Sidebar 
*/

.sidebar-container {
    position: fixed;
    inset: 0;
    width: var(--tray-size);
}
.sidebar-main {
    margin-left: var(--tray-size);
    padding-inline: var(--main-padding);
}
@media(max-width: 639px) {
    .sidebar-container {
        position: relative;
        width: 100%;
    }
    .sidebar-main {
        margin-left: 0;
    }
}
